* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("village_image.jpg.webp");
    background-repeat: no-repeat;
    background-size: 200vh 100vw;
}

#Conatainer1 h1 {
    color: green;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#Container2 {
    border-style: none;
    height: 200px;
    width: 100vw;
    display: flex;
    padding: 10px;
}

#Container3 {
    border-style: none;
    height: 190px;
    width: 400px;
    text-align: center;
    background-color: antiquewhite;
    list-style: none;
}

#Container4 {
    border-style: none;
    height: 190px;
    width: 400px;
    text-align: center;
    margin-left: 650px;
    background-color: aliceblue;
}

#Container5 textarea {
    height: 100px;
    width: 200px;
    overflow: scroll;
    margin-left: 10px;

}

/*
#Container2 {
    display: flex;
}

#Container2 h3 {
    margin-left: 800px;
    color: green;
}

#Conatainer3 h1 {
    color: aquamarine;
    background-color: aliceblue;
    height: 50px;
    width: 230px;
    margin-top: 10px;
}
*/